#brand{
    color:black
}

#howuse{
    color:black
}

#trival{
    color:black
}

#question{
    color:black
}

#dropdown{
    color:black
}

#button{
    margin-left: 270px;
}

#img{
    width: 500px;
    height: 700px;
}

#btn{
    width: 500px;
    height: 50px;
    margin-left:515px;
    margin-bottom: 30px;
  }